@font-face {
    font-family: "Big Noodle Titling";
    src: url("../fonts/big-noodle-titling.ttf");
}
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,700,400);

$navbar-height: 32px;
$screen-xs-max: 400px;

$color-bg-darkred: #7f1020;
$color-fg-white: #FDD;

body {
    background-color: white !important;
}

.site-head {
    margin-top: 50px;
}

.first-screen {
    position: relative;
    height: 100%;
    background-color: white !important;
}

.character-header {
    position: absolute;
    display: block;

    width: 180px;
    height: 256px;

    /* BIG SCREEN */

    &.character-header-red {
        left: 5%;
        bottom: 35%;
        z-index: 80;
    }

    &.character-header-blue {
        left: 15%;
        bottom: 15%;
        z-index: 90;
    }

    &.character-header-green {
        right: 15%;
        bottom: 15%;
        z-index: 90;
    }

    &.character-header-yellow {
        right: 5%;
        bottom: 35%;
        z-index: 80;
    }

    /* TINY SCREEN */
    @media (max-width: $screen-xs-max) {
        width: (180px * 0.8);
        height: (256px * 0.8);

        &.character-header-red {
            left: 0;
            bottom: 35%;
        }

        &.character-header-blue {
            left: 5%;
            bottom: 15%;
        }

        &.character-header-green {
            right: 5%;
            bottom: 15%;
        }

        &.character-header-yellow {
            right: 0;
            bottom: 35%;
        }
    }
}

.the-logo {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    overflow: hidden;

    /*
    html.csstransforms3d & {
                transform: translateZ(-1px) scale(2);
        -webkit-transform: translateZ(-1px) scale(2);
           -moz-transform: translateZ(-1px) scale(2);
    }*/
}

$logo-size: 350px;
$logo-width: $logo-size;
$logo-height: $logo-size * 355 / 350;
$logo-vertical-offset: -18px;
$logo-xs-reduction: 0.75;
$shine-size: ($logo-size * 2);

.logo {
    position: absolute;
    margin: 3em;
    left: 50%;
    top: 50%;

    z-index: 150;

    width: $logo-width;
    height: $logo-height;
    margin-left: (-$logo-width / 2);
    margin-top: (-$logo-height / 2) + $logo-vertical-offset;

    @media (max-width: $screen-xs-max) {
        width: ($logo-width * $logo-xs-reduction);
        height: ($logo-height * $logo-xs-reduction);
        margin-left: (-$logo-width * $logo-xs-reduction / 2);
        margin-top: (-$logo-height * $logo-xs-reduction / 2 + $logo-vertical-offset);
    }
}

.logo-shine {
    position: absolute;
    margin: 3em;
    left: 50%;
    top: 50%;

    z-index: 50;

    width: $shine-size;
    height: $shine-size;
    margin-left: -($shine-size / 2);
    margin-top: -($shine-size / 2) + $logo-vertical-offset;

    @media (max-width: $screen-xs-max) {
        width: ($shine-size * $logo-xs-reduction);
        height: ($shine-size * $logo-xs-reduction);
        margin-left: (-$shine-size * $logo-xs-reduction / 2);
        margin-top: (-$shine-size * $logo-xs-reduction / 2 + $logo-vertical-offset * $logo-xs-reduction);
    }

    /* Animation */
    -webkit-animation-name: rotate;
    -webkit-animation-duration: 90s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;

    animation-name: rotate;
    animation-duration: 90s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@-webkit-keyframes rotate {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);}
}
@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

.navbar {
    background-image: url(../img/navbar-background.png);
    background-position: -320px center;
    background-repeat: repeat-y;
}

.navbar-brand {
    color: white !important;
    text-transform: uppercase;
    font-family: "Big Noodle Titling", sans-serif;
    font-size: 24pt;

    text-shadow: 0 0 1px black;
}

.navbar-nav li {
    text-transform: uppercase;
    font-family: "Big Noodle Titling";
    font-size: 18pt;

    a {
        color: #BBB !important;

        &:hover {
            color: white !important;
        }
    }
}


$social-width: 500px;

.social-buttons {
    position: absolute;
    left: 50%;
    bottom: 8px;
    margin-left: -$social-width / 2;
    width: $social-width;
    text-align: center;
    z-index: 300;
}

.first-screen .social-buttons {
    bottom: $navbar-height + 4px;
}

@media (max-width: $social-width) {
    .social-buttons {
        width: 100%;
        margin-left: 0;
        left: 0;
        right: 0;
    }
}


.hentry {
    width: auto !important;
    max-width: 100% !important;
}

.post-content {
    padding-left: 0;
    padding-right: 0;

    h1, .full-header {
        text-align: center !important;
        font-family: "Big Noodle Titling";
        font-size: 64px;
        letter-spacing: 0.03em;
        padding: 0.15em;

        background-color: $color-bg-darkred;
        background-image: url(../img/header-background.png);
        background-position: center center;
        background-repeat: repeat-y;
        color: $color-fg-white;

        margin-top: 0.5em;

        text-shadow: 0 -1px 1px black;

        a, a:hover {
            text-decoration: none;
            color: inherit;
        }

        &:before, &:after {
            content: "—";
            padding: 0.3em;
        }

        @media (max-width: $screen-xs-max) {
            & {
                font-size: 48px;
            }
        }
    }

    p, h2, h3, h4, h5, h6, ul, ol {
        max-width: 780px;
        margin: 0 auto;
        padding-left: 0.5em;
        padding-right: 0.5em;
    }

    ul, ol {
        padding-left: 2em;
    }

    .edit-link {
        display: block;
        margin: 0 auto;
        max-width: 780px;
    }
}

#masthead {
    max-height: 250px !important;
}


.languages {
    position: absolute;

    top: $navbar-height - 10px;
    left: 0;
    right: 0;

    text-align: right;
    padding: 8px;

    z-index: 150;

    li {
        padding: 0;
        display: inline-block;
    }

    .language, .lang-item {
        padding: 0 8px;

        text-transform: uppercase;
        font-size: 12px;
        font-weight: bold;
        font-family: sans-serif;
        font-height: 12px;

        &, a {
            color: #333;
        }
        background: #BBB;

        border-radius: 3px;

        &:hover {
            &, a {
                color: black;
            }
            background: #333;
        }
    }

    .language-selected, .language-selected:hover {
        &, a {
            color: white;
        }
        background: #666;
    }
}

.page-languages {
    padding: 0;
    margin: -2em 0 -4em;
    text-align: center;

    li {
        padding: 0;
        display: inline-block;
    }

    .page-language {
        margin: 0 4px;

        font-size: 16px;
        font-family: sans-serif;

        text-decoration: underline;
    }

    .page-language-selected {
        color: #666 !important;

        font-size: 13px;
        font-weight: bold;
        text-decoration: none;
    }
}